<fntt-hdwe-topbar (onMenuToggled)="sidenav.toggle()"></fntt-hdwe-topbar>


<md-sidenav-container fullscreen>

  <md-sidenav #sidenav mode="side" opened="true">
    <button md-button (click)="newFile()">New File</button>
    <button md-button (click)="copyProjTemplate()">Project Templates</button>
    <fntt-file-list></fntt-file-list>
  </md-sidenav>

  <div class="rows">
    <div class="file-edit-area" *ngIf="selectedFile">
      <fntt-file-contents></fntt-file-contents>
      <button md-raised-button (click)="loadChip()">Load Chip</button>
      <p class="errorText" *ngIf="errorText">{{errorText}}</p>
    </div>

    <div *ngIf="currentChip">
      <div class="columns">
        <h3>Inputs</h3>
        <md-input-container *ngFor="let i of currentChip.inputNames">
          <input mdInput name="i" [ngModel]="currentChip.inputs[i].value" #in (change)="changeInput(i, in.value)" placeholder="{{i}}">
        </md-input-container>
      </div>

      <h3>Outputs</h3>
      <div *ngFor="let outputName of currentChip.outputNames">
        <h6>{{outputName}}</h6>
        <div *ngFor="let output of currentChip.outputs[outputName] | async">
          {{output}}
        </div>
      </div>

    </div>
  </div>

</md-sidenav-container>