.errorText {
    color: red;
    margin-left: 16px;
    margin-right: 16px;

    width: 350px;
}

.file-edit-area {
    display: flex;
    flex-direction: column;
    align-content: center;

}

.file-edit-area > button {
    margin-left: 16px;
    margin-right: 16px;
}

md-sidenav {
    padding-top: 16px;
    padding-left: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 240px;
}

md-sidenav-container {
    margin-top: 64px;
    display: flex;
    flex-direction: row;
}